*{
    box-sizing: margin-box;
    border-collapse: collapse;
    font-family: Arial;
  }
  #container{
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background: orange;
  }
  .table{
    background: white;
  }
  .col{
    width: 100px;
    height: 100px;
  }
  .col_first{
    padding-left: 30px;
    text-align: left;
    font-size: 25px;
  }
  .title{
    padding-top: 30px;
    font-size: 25px;
  }
  .col_second_odd{
    background: white;
    width: 100px;
    height: 100px;
  }
  .col_second_even{
    background: black;
      width: 100px;
    height: 100px;
  }